p{
    color: brown;
}
.clave{
    color: gray;
}
#hex{
    color: #F5F5DC;
    background-color: black;
    text-align: center;
}
.rgb{
    color: rgba(200,150,20,50);
}
.serif{
    font-family: sans-serif;
}
h1{
    font-family: monospace;
}
.mulish{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5;
    font-size: 12px;
    text-align: right;
}
h3{
    font-family: 'Mulish', sans-serif;
}
h4{
    font-style: italic;
}
h5{
    font-weight: bold;
}